.DS_Store
composer.lock
.env

webroot/cms
webroot/env.php
webroot/wp-content/advanced-cache.php
webroot/wp-content/backup-db/
webroot/wp-content/backups/
webroot/wp-content/blogs.dir/
webroot/wp-content/cache/
webroot/wp-content/upgrade/
webroot/wp-content/uploads/
# webroot/wp-content/mu-plugins/
webroot/wp-content/index.php
webroot/wp-content/themes/twenty*
# webroot/wp-content/themes/index.php
webroot/wp-content/wp-cache-config.php
# webroot/wp-content/plugins/index.php
webroot/wp-content/plugins/hello.php
# webroot/wp-content/plugins/akismet
